/*****************************
03. Home CSS
*****************************/

/*============== .box-section-area  ================*/
.box-section-area .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.single-box-item {
    padding: 100px 50px;
    color: #fff;
    .icon{
        @extend %dtablecell;
    }
    .box-text{
        @extend %dtablecell;
    }
    h3 {
        font-size: 18px;
        @extend %uppercase;
    }
    .boxed-btn {
        margin-top: 20px;
        background-color: #323232;
        &:after {
            background-color: #fff;
        }
        &:hover {
            color: #DB2D2E;
        }
    }
}
.box-1{
    background-color: #AF2425;
}
.box-2{
    background-color: #C52829;
}
.box-3{
    background-color: #DB2D2E   ;
}
.icon {
    padding-right: 20px;
    i.fa {
        font-size: 20px;
    }
}


/*============== .about-area =================*/
.about-area{
    padding: 70px 0;
}
.about-text-wrap{
    padding: 20px 0;
}
.single-about-item{
    .icon{
        @extend %dtablecell;
        color: $primary-color;
    }
    .about-text{
        @extend %dtablecell;
    }
    h3{
        color: $secondary-color;
        font-size: 20px;
        @extend %uppercase;
    }
}

/*============.search-area=================*/ 
.search-bg{background-image: url(../img/slide-bg-2.jpg);}
.search-area {
    @extend %sectionpadding;
    @extend %backgroundimage;
    @extend %posrelative;
    @extend %zindex2;
    &:after{
        @extend %pseudoabsolute;
        @extend %black-bg-color;
        @extend %opacity7;
    }
    .section-title{
        margin-bottom: 50px;
        @extend %white-color;
        @extend %uppercase;
    }
    .single-search-item {
        margin-top: 5px;
    }
    .single-search-item .nice-select {
        margin-bottom: 30px;
        @extend %w100;
        ul {
            @extend %w100;
        }
    }

}

/*=================.feature-area=======================*/ 
.feature-area{
    @extend %sectionpadding;
    .section-title{
        margin-bottom: 50px;
    }
}
.feature-img {
    @extend %posrelative;
    @extend %overflowhidden;
}
.feature-overlay {
    @extend %posabsolute;
    left: 0;
    top: -190px;
    right: 0;
    @extend %textcenter;
    @extend %w100;
    @extend %h100;
    @extend %zindex2;
    @extend %basetransition;
    ul {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @extend %w100;
        @extend %h100;
        @extend %textcenter;
        li a {
            @extend %white-color;
            width: 35px;
            height: 35px;
            border: 2px solid $color-white;
            @extend %displayblock;
            @extend %borderradius50;
            line-height: 31px;
            margin: 0 3px;
        }
    }
    &:after {
        @extend %pseudoabsolute;
        @extend %primary-bg-color;
        @extend %opacity7;
    }
}
.car-features {
    @extend %posabsolute;
    left: 0;
    bottom: -40px;
    z-index: 3;
    @extend %white-bg-color;
    @extend %w100;
    @extend %textcenter;
    @extend %basetransition;
    padding: 8px;
    ul li {
        @extend %displayinline;
        margin: 0 7px;
    }
}
.single-feature-item:hover .feature-overlay {
    top: 0;
}
.single-feature-item:hover .car-features {
    bottom: 0;
}
.feature-content {
    @extend %textcenter;
    padding: 10px;
    a {
        @extend %primary-color;
        font-size: 20px;
        font-weight: 600;
    }
}
.star-icons i.fa {
    margin: 0 2px;
}



/*=============.welcome-area==============*/
.welcome-bg{background-image: url(../img/slide-bg-1.jpg)}
.welcome-area{
    @extend %sectionpadding;
    @extend %posrelative;
    @extend %zindex2;
    @extend %backgroundimage;
    &:after {
        @extend %pseudoabsolute;
        @extend %black-bg-color;
        @extend %opacity7;
    }
    .welcome-video{
        @extend %posrelative;
        &:after {
            @extend %pseudoabsolute;
            @extend %primary-bg-color;
            @extend %opacity7;
            z-index: 2;
        }
    }
}
.welcome-video .video-icon {
    @extend %posabsolute;
    left: 0;
    top: 50%;
    right: 0;
    z-index: 3;
    @extend %textcenter;
    // transform: translateY(-50%);
    @include transform(translateY(-50%));
    @include roundy(90px, 2px solid $color-white);
    @extend %borderradius50;
    @extend %margin0auto;
    padding: 8px;
    cursor: pointer;
}
.welcome-video .video-icon i.fa {
    @include roundy(70px);
    @extend %white-bg-color;
    @extend %primary-color;
    @extend %borderradius50;
    font-size: 20px;
    line-height: 68px;
}
.welcome-text {
    @extend %white-color;
}
.video-icon:hover i.fa {
    background-color: #000;
}

/*================.latest-blog-area=======================*/ 
.latest-blog-area{
    @extend %sectionpadding;
    .section-title{
        margin-bottom: 50px;
        text-align: center;
    }
}
.blog-img {
    @extend %posrelative;
}
.blog-img .blog-date {
    @extend %posabsolute;
    left: 10px;
    top: 10px;
    @extend %primary-bg-color;
    @extend %white-color;
    @extend %displayblock;
    @extend %uppercase;
    padding: 8px 20px;
    font-weight: 600;
}
ul.blog-social-icons {
    @extend %posabsolute;
    left: 6px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    @extend %basetransition;
}
.blog-admin-meta ul li {
    @extend %displayinline;
    border-left: 1px solid #ddd;
    @extend %posrelative;
}
.blog-admin-wrap {
    @include flexbox;
    @include justify-content(space-between);
    border-bottom: 1px solid #ddd;
}
.blog-admin-meta ul li a {
    @extend %primary-color;
    @extend %textcenter;
    padding: 10px 15px;
}
ul.blog-social-icons li {
    border: 0;
}
ul.blog-social-icons li a {
    @include roundy(30px);
    @extend %primary-bg-color;
    color: #fff !important;
    padding: 4px;
    margin-top: 5px;
}
ul.blog-social-icons li a i.fa {
    text-align: center;
}
.blog-admin-meta ul li:nth-child(2):hover ul.blog-social-icons {
    @extend %visible;
    bottom: 68px;
}
.blog-text {
    text-align: center;
    padding: 20px;
}
.blog-text h3 {
    font-size: 18px;
}
.latest-blog-area {
    background-color: #F6F6F6;
}
.blog-content {
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 9;
    top: -25px;
}
.blog-admin img {
    @include roundy(50px);
    margin-right: 5px;
}

.blog-admin {
    margin: 8px 0px 0 10px;
}

/*=================.logo-carousel-area====================*/ 
.logo-carousel-area{
    @extend %sectionpadding;
}


/*==================.footer-widget-area======================*/ 
.footer-widget-bg{background-image: url(../img/slide-bg-2.jpg)}
.footer-widget-area{
    @extend %backgroundimage;
    @extend %zindex2;
    @extend %posrelative;
    &:after{
        @extend %pseudoabsolute;
        background-color: #000;
        opacity: 0.9;
    }
}
.footer-social-icons ul li {
    width: px-to-pc(185px, 1110px);
}
.footer-social-icons ul {
    display: flex;
    margin-bottom: 80px;
}
.footer-social-icons ul li a {
    color: #fff;
    padding: 20px 15px;
    text-transform: uppercase;
    @extend %basetransition;
    display: block;
}
.footer-social-icons ul li a i.fa {
    padding-left: 32px;
}
.footer-social-icons ul li:hover a{
    @extend %primary-bg-color;
} 